<table class = "table table-borderless">
  <tr>
    <td><%= link_to "編集", edit_user_path(current_user), class: "btn btn-success" %></td>
  </tr>
  <tr>
    <td>
      <% if user == current_user %>
        <%= link_to "イベント入力", events_path, class: "btn btn-success" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></td>
  </tr>
  <tr>
    <td><strong>ニックネーム</strong></td>
  </tr>
  <tr>
    <td class = "text-center"><%= user.nickname %></td>
  </tr>
  <tr>
    <td><strong>ジャンル</strong></td>
  </tr>
  <tr>
    <td class = "text-center"><%= user.genre %></td>
  </tr>
  <tr>
    <td><strong>ポイント</strong></td>
  </tr>
  <tr>
    <td><%= user.point %></td>
  </tr>
</table>