<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container-fluid">
          <%= link_to image_tag("F5A840D1-7AEF-47DF-9207-145B0F682DA0_4_5005_c", size: "150x100"), root_path, class: "mt-2" %>

          <div>
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="ml-3"><%= link_to "マイページ", user_path(current_user.id), class: "btn btn-outline-info" %></li>
                <li class="ml-3"><%= link_to "会員一覧", users_path, class: "btn btn-outline-info" %></li>
                <li class="ml-3 mr-1"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-info" %></li>

                <% else %>
                <li class="ml-3"><%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-info" %></li>
                <li class="ml-3 mr-1"><%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info" %></li>
              <% end %>
              <li class="ml-3"><%= link_to "お問い合わせ", inquiry_index_path, class: "btn btn-outline-info" %></li>
            </ul>

            <ul class="nav-item mt-2 ml-auto list-unstyled">
            </ul>
          </div>
         </div>
      </nav>
    </header>
    
    
    <%= yield %>
  </body>
</html>